/* CSS Document */

/*--------------------------main---------------------------------*/
/*#main{background:url(../images/bigBg.png) repeat-x;}*/
#main{background:#FFF}
.wid1060{width:1060px;}
.wid980{width:1000px;background:none repeat scroll 0% 0% #FFF;padding:0px 30px 10px 30px;box-shadow:0px 0px 5px #dfdfdf;}
/*--------------------------top---------------------------------*/
.topLi li{height:30px;line-height:30px;padding:0 8px 0 35px;background:url(../images/imgIcon.png) no-repeat;border-left:1px solid #ccc;color:#666666;}
.topLi li a{color:#666666;}
.topLi li a.ying{display:block;color:#FF9900;}
.topLi li a:hover{text-decoration:underline;}
.topLi li.li_1{background-position:10px 8px;font-size:16px;color:#f99101;font-family:Arial;}
.topLi li.li_2{background-position:10px -24px;}
.topLi li.li_3{background-position:10px -57px;}
.topLi li.li_4{background-position:10px -90px;}
.topLi li.li_5{background-position:10px -152px;font-weight:bold;border-left:2px solid #ff9900;margin-left:10px;}
.topLi li.li_6{background-position:5px -151px;font-weight:bold;color:#ff9900;}

/*--------------------------header---------------------------------*/
#header{padding:18px 0 10px 0;}
.cont,.ti{height:40px;border:none;}
.cont{background:url(../images/search.png) no-repeat;width:415px;padding-left:10px;font-family:Arial;color:#bfbfbf;*width:350px;line-height:40px;}
.ti{background:url(../images/search.png) no-repeat right center;width:42px;}
.nav{background:url(../images/nav.jpg) no-repeat;width:594px;height:31px;padding-top:1px;*MARGIN-LEFT:30px}
.nav li{padding:5px 21px;display:inline;z-index:8;}
.nav li a.f16{color:#fff;font-family:"微软雅黑";font-family:黑体;display:block;width:100px;height:21px;line-height:20px;text-align:center;}
.nav li a.f16{text-indent:2px;}
.nav li a.f16:hover{font-size:18px;}
.nav_bg_right{background:url(../images/nav_li_right.jpg) no-repeat right 30%;}

.dZ{height:30px;line-height:30px;}
.dZ a{color:#666}
.dZ a:hover{text-decoration:underline;color:#ec8e00;}
.tou1{right:-9px;}
.topLi li.tou1{background:none;border:none;pointer-events:none;}
.margin1{margin:8px 0 20px 115px;*width:515px;*margin-left:100px;}

.navSon a.zuo{display:block;width:158px;height:30px;line-height:30px;text-indent:13px;color:#111;border-bottom:1px solid #DFDEDE;background:rgba(206, 164, 0, 1) no-repeat scroll 0 0 !important;filter:Alpha(opacity=100); background:#cea400;position:relative;cursor:pointer;font-family:"微软雅黑";font-size:12px;}
.navSon a.hov{color:#fff;background:rgba(255, 136, 41, 0.9) no-repeat scroll 0 0 !important;filter:Alpha(opacity=90);background:#ff8829;}

.navSon a.you{display:block;width:150px;height:30px;line-height:30px;text-indent:20px;color:#fff;border-bottom:1px solid #b2b2b2;background:rgba(146, 146, 146, 0.8) no-repeat scroll 0 0 !important;filter:Alpha(opacity=80); background:#929292;position:relative;}


.navSon a.you:hover{color:#666;background:rgba(229, 229, 229, 0.8) no-repeat scroll 0 0 !important;filter:Alpha(opacity=80);background:#e5e5e5;}

.rTop{left:140px;top:0;}
.leis{width:158px;}

.navSon{z-index:10;left:0;top:30px;}
.lef53{left:-53px;}

.navSon-1 a.zuo{width:200px;padding-right:15px;text-align:right;}
.navSon-1{left:52px;}
.navSon-1 .rTop{left:-300px;}
.navSon-1 .rTop a{width:285px;padding-right:15px;text-align:right;}
.navSon-11{left:-53px;}
.navSonL{left:10px;}

/*--------------------------footer---------------------------------*/
#footer{background:url(../images/reXx.png) repeat-x;padding:15px 0 10px 0;}
.foot p{color:#545454;padding:2px 0;}
.foot p a{color:#545454;}


/* 焦点图 */
.focus{width:980px;height:410px;position:relative;}
.f426x240{width:980px;height:410px;overflow:hidden}
.f426x240 li{height:410px;z-index:2;}
.f426x240 img{width:980px;height:410px;}
.rslides{width:100%;position:relative;list-style:none;padding:0;z-index:1;}
.rslides_nav{ display:none;}
.rslides_tabs{ display:none;}


/*********分页效果***********/
.page{width:auto; text-align:right; margin-bottom:10px;}
.page a{height:22px;line-height:22px;width:22px; padding:3px 10px; text-align:center;font-family:Arial;background:#c8c8c8;margin-left:5px;display:inline;color:#4d4d4d;cursor:pointer;}
.page a:hover{text-decoration:none; color:#fff; background:#6d6d6d;}
.page_a{background:#f77106 !important; text-decoration:none !important; color:#fff !important;}